*{
	margin: 0;
	padding: 0;
}

 ul{
	list-style: none;
	display: inline-block;	
}
a{
	text-decoration: none;
}
#con{
	width: 1170px;
	margin: 0 auto;
	position: relative;
}
#con-content{
	width: 64%;
	display: inline-block;
	float: left;
}
#con-content2{
	display: inline-block;
	width: 32%;
	float: right;
}
 li{
	display:inline-block;
	margin-left: 5px;
	cursor:pointer;
}

#top-left{
	width: 50%;
	display: block;
	float: left;
	padding: 19px 10px 19px 0px;
	opacity: 0.5;
}


#topcontent{
	width: 1170px;
	height: 58px;
	margin: 0 auto;
	font-size: 10px;
	
}
#top-right{
	width: 47%;
	float:right;
	display: block;
	padding: 19px 10px 19px 0px;
	opacity: 0.5;
}

#r-img{
	float: right;
}
#s1{
	width: 100%;
	height: 1px;
	float: left;
}
.border {
    border-top: 1px solid #cccccc;
    /* background-color: #8C8C8C; */
}
#topnav{
	display: block;
}
#header{
	width: 100%;
}
#content{
	width: 1170px;
	margin: 0 auto;
}
#header-img{
	background-color: #fff;
	/*text-align: center;*/
	position: relative;
}
#header-img>a>img{
	position: absolute;
	top: -10px;
}
#content{
	display: flex;
	justify-content: space-between;
	flex-flow: nowrap;
	padding: 35px 0px 35px 0px;
}
#c-nav{
	line-height: 58px;
	
}
#c-nav ul li{
	margin-right: 20px;
	 font-weight: bold;
	 opacity: 0.6;
}
#c-nav ul li:hover{
	opacity: 0.3;
}
#cart{
	background-color: #f8f8f8;
}

#c-content{
	width: 1170px;
	margin: 0 auto;
	padding: 90px 0px 90px 0px;
}
#c-content>ul>li>a{
	color: #818181;
}
.big-title {
    width: 100%;
    height: 210px;
    /* border: 1px solid red; */
    background-color: #f8f8f8;
}
.title {
    margin: 0 auto;
    width: 1140px;
    height: 210px;
    /* border: 1px solid blue; */
    padding: 43px 15px;
    box-sizing: border-box;
}
.t-ul {
    list-style: none;
    color: #9a9a9a;
    padding: 0;
    margin-top: 30px;
}
.t-ul li {
    font-size: 15px;
    line-height: 17px;
    font-weight: 300;
    display: inline-block;
}
.t-a1 a {
    color: #9a9a9a;
    text-decoration: none;
}
.t-a2 a {
    text-decoration: none;
    color: black;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', 'Arial', sans-serif;
    font-style: italic;
    color: #303233;
}
.nav{
	width:1155px;
	height:1074px;
	margin: auto;
}
.nav .top{
	width: 100%;
	text-align: center;
	position: relative;
	margin-top: 25px;
}
.nav .top>span{
	width: 30%;
	color:#757575;
	font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
	text-align: center;
}
.nav .top #text{
	color: #323232;
    border-color: #323232;
}

.for{
	margin-top: 110px;
}
.for_left{
	float: left;
	width:790px;
	height:899px;	
}
.nav .for .for_left .dao{
  margin-bottom: 15px;
  color: #9a9a9a;
      font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}
.nav .for .for_left .dao a {
    color: #303233;
}
 .nav .for .for_left h2 {
    font-size: 30px;
    line-height: 30px;
    margin: 23px 0 20px;
  font-family: 'Playfair Display', 'Arial', sans-serif;
    font-style: italic;
    color: #303233;
}
.nav .for .for_left .group{
	width:660px;
	height:10px;
	margin-top: 41px;
	float: right;
	}
.nav .for .for_left .group .input{
	float: right;
  }
  .for .for_left .group .input>select{
	width:551px;
	height:35px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
  }
.nav .for .for_left .group .input>input{
	width:551px;
	height:35px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
  }
.for .for_left .group  .lab{
	
    margin-left: -30px;
 }
 .for .for_left .group  .lab .text{
 	color: #323232;
    border-color: #323232;
 	}
 .for .for_left .group  .lab .required{
 	color: red;
 }
.nav .for .for_left .btn{
	margin-left: 107px;
	font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
}
.for .for_left .group textarea{
	width:550px;
	height:114px;
}
.for_right{
	float: right;
	width:330px;
	height:899px;
}

.for_right h2{
	font-size: 28px;
    margin: 0 0 28px;
    position: relative;
}
.table {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    color: #9a9a9a;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    width:258px;
    margin-top: 30px;
}
 .table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
 .table table td, table th {
    padding: 3px 0;
}
.table td + td {
    border-left: 1px solid #e1e1e1;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 13px 8px;
    border-color: #e1e1e1;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.cart_item td {
    vertical-align: middle !important;
    padding: 18px 10px !important;
}
.grey {
    color: #323232;
    border-color: #323232;
}
b, strong {
    font-weight: 700;
}
.titl{
	margin-top: 36px;
}
.titl h3{
	 font-family: 'Playfair Display', 'Arial', sans-serif;
    font-style: italic;
    color: #303233;
	 font-size: 28px;
    margin: 0 0 28px;
    position: relative;
    font-family: inherit
}

 .titl .radio{
    font-size: 15px;
    line-height: 26px;
    color: #3d3d3d;
}

.radio {
	width: 330px;
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin: 25px 0;
     list-style: none;
    padding: 0;
    }
 .radio label{
 	margin-top: 10px;
 }
.radio .grey {
    color: #323232;
     border-color: #323232;
}
.p{
	color: #9a9a9a;
    margin: 0 0 10px;
   margin-bottom: 25px;
   width: 330px; 
   font-family: 'Roboto', sans-serif;
}
.or{
	border: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    margin-right: 10px;
    /*width: 100%;*/
	
}
 .button {
    font-size: 14px;
    font-weight: 400;
    padding: 11px 23px 11px;
    margin-top: 42px;
    margin-right: 10px;
    line-height: 1;
    display: inline-block;
    min-width: 8.5em;
    text-align: center;
    color: #ffffff;
    border: 3px solid #323232;
    background-color: #323232;
}


#iframe{
	width: 100%;
	height: 752px;
}
iframe{
	width: 100%;
}